.hero-styling {
    background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=954560871844da528c60343dc344ccbf&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heading {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 36px
}

.heading-2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 30px
}

.heading-3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-style: normal;
    font-size: 22px
}

.navbar-styling {
    background-color: transparent;
    background-image: none;
}

.profile-picture {
    border-radius: 50%;
    border-color: darkgrey;
}

.box {
    border-radius: 0;
    background-color: #cea11a;
    border: none;
    box-shadow: none;
}
    